@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --medium-gray: #7d828f;
  --very-light-gray: #eeeff4;
  --very-dark-blue: #1b1d23;
  --overlay: rgba(0, 0, 0, 0.5);
}
