@import 'tailwindcss';

@theme {
  /* Colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(230, 21%, 95%);
  --color-neutral-300: hsl(225, 17%, 82%);
  --color-neutral-700: hsl(223, 7%, 53%);
  --color-neutral-800: hsl(226, 6%, 40%);
  --color-neutral-900: hsl(225, 13%, 12%);
  --color-red-500: hsl(0, 68%, 61%);

  /* Font Size */
  --text-base: 1.125rem;

  /* Height */
  --height-18: 4.5rem;

  /* Breakpoints */
  --breakpoint-xxs: 23.4375rem;
  --breakpoint-xs: 36rem;
  --breakpoint-2xl: 90rem;

  /* Gap */
  --gap-15: 3.75rem;

  /* Max Width */
  --container-xs: 32rem;
  --container-sm: 35.75rem;
  --container-lg: 49rem;
  --container-xl: 64rem;
  --container-2xl: 69.375rem;
}

/* :root {
  --dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --grey: #c8ccd8;
  --light-grey: #eeeff4;
  --white: #ffffff;
  --red: #df5656;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spartan);
}
/* 
.text-xl {
  font-size: 250px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -5px;
}

@media (max-width: 1280px) {
  .text-xl {
    font-size: 200px;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -5px;
  }
}

@media (max-width: 1024px) {
  .text-xl {
    font-size: 120px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: -3px;
  }
}

.text-lg {
  font-size: 96px;
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: -0.2px;
}

@media (max-width: 640px) {
  .text-lg {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.2px;
  }
}

.text-md {
  font-size: 72px;
  font-weight: 700;
  line-height: 0.89;
  letter-spacing: -0.2px;
}

@media (max-width: 640px) {
  .text-md {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.2px;
  }
}

.text-sm {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
}

.text-xs {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: 0;
}

.text-xs--vertical {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: 18px;
  writing-mode: vertical-lr;
}

.text-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0;
} */
