@import 'tailwindcss';

:root {
  --dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --grey: #c8ccd8;
  --light-grey: #eeeff4;
  --white: #ffffff;
  --red: #df5656;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spartan);
}

.text-xl {
  font-size: 250px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.5px;
}

.text-lg {
  font-size: 96px;
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: -0.2px;
}

.text-md {
  font-size: 72px;
  font-weight: 700;
  line-height: 0.89;
  letter-spacing: -0.2px;
}

.text-sm {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
}

.text-body {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0;
}
